<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>(⁰⊖⁰)</title>
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
    <link rel="stylesheet" href="./dist/app.css"/>
    <link rel="stylesheet" href="./node_modules/highlight.js/styles/github.css"/>
    <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="./node_modules/codemirror/lib/codemirror.css"/>
  </head>
<body>

  <div id="app" v-cloak>
    <div class="l-main">

      <div class="l-menu">
        <ul class="m-menu">
          <li class="m-menu__item" v-on:click="createNewPost">
            <a>
              <span class="m-menu__newPost"></span>
              <span>NEW POST</span>
            </a>
          </li>
          <li class="m-menu__item" v-bind:class="{'m-menu__item--current': config.posts}" v-on:click="toggleMenu('posts')">
            <a>
              <i class="fa fa-file-text-o"></i><span>POSTS</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="l-posts" v-if="config.posts">
        <ul class="m-postList">
          <li v-if="!isPosts" class="m-postList__item m-postList__item--current"><a>(\( ⁰⊖⁰)/)  NO POST</a></li>
          <li class="m-postList__item" v-for="post in posts"
          v-bind:class="{'m-postList__item--current': $index === current}" v-on:click="changePost($index)">
            <a>{{post.name}}</a>
            <span class="m-postList__trash" v-on:click="deletePost($index)"><i class="fa fa-trash"></i></span>
          </li>
        </ul>
      </div>
      <div class="l-md" v-bind:class="{'state-bottom': config.toolbarPos == 'bottom'}">

        <div class="l-md__toolbar">
          <label class="m-toolBtn">
            <input type="checkbox" v-model="config.editor"><i class="fa fa-pencil"></i>
          </label>
          <label class="m-toolBtn">
            <input type="checkbox" v-model="config.preview"><i class="fa fa-eye"></i>
          </label>
          <template v-if="currentPost && currentPost.url">
            <span class="m-toolBtn">
              <a v-on:click="openUrl"><i class="fa fa-external-link"></i></a>
            </span>
            <span class="m-toolBtn">
              <a v-on:click="sync"><i class="fa fa-refresh"></i></a>
            </span>
          </template>

          <div v-if="isCurrent" class="m-publishBtn">
            <button v-on:click="publish(true)" class="m-publishBtn__wip" v-bind:class="{'state-current': currentPost.wip}">Save as WIP</button>
            <button v-on:click="publish(false)" class="m-publishBtn__ship" v-bind:class="{'state-current': !currentPost.wip}">Ship It!</button>
          </div>
        </div>

        <div class="l-input" v-show="config.editor">
          <div class="m-editor" v-el:codemirror v-show="isCurrent">
            <template v-if="isCurrent">
              <input type="text" v-model="posts[current].name">
            </template>
          </div>
        </div>

        <div class="l-preview" v-show="config.preview">
          <div class="m-preview" v-show="isCurrent">
            <h2 class="m-preview__title">
              <template v-if="isCurrent">
                <div v-bind:class="[currentPost.wip ? 'm-preview__wip' : 'm-preview__shipped']">
                  <span>{{currentPost.name}}</span>
                </div>
              </template>
            </h2>
            {{{preview}}}
          </div>
        </div>
      </div>
    </div>
    <dialog class="loader" v-el:loader>
      <i class="fa fa-spin fa-spinner"></i>
    </dialog>
    <dialog class="notify" v-el:notify>
      <div class="notify__heading"></div>
      <div>
        <p transition="notify" class="notify__message" v-for="notify in notifications" v-bind:class="{'state-warning': notify.warning, 'state-error': notify.error, 'state-wip': notify.wip}" v-on:click="closeNotify($index)">
          <i class="fa"></i><span>{{notify.message}}</span>
        </p>
      </div>
    </dialog>
  </div>
  <!--<button id="fetch">fetch</button>-->

<script src="./node_modules/codemirror/lib/codemirror.js"></script>
<script src="./node_modules/codemirror/addon/edit/continuelist.js"></script>
<script src="./node_modules/pouchdb/dist/pouchdb.js"></script>
<script src="./node_modules/pouchdb-find/dist/pouchdb.find.min.js"></script>
<script src="app.js"></script>
<script>require('electron-connect').client.create()</script>
</body>
</html>
