.m-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: $color-main;
  color: #fff;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  &__item {
    cursor: pointer;
    a {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80px;
      height: 68px;
      text-align: center;
      border-bottom: 1px solid rgba(0,0,0,0.05);
      font-size: 11px;
      padding-top: 12px;
      color: rgba(0,0,0,0.3);
      box-sizing: border-box;
      transition-duration: 0.3s;
    }
    i {
      width: 80px;
      text-align: center;
      font-size: 28px;
      color: rgba(0,0,0,0.1);
      display: block;
      transition-duration: 0.3s;
    }
    &:hover {
      a {
        color: #fff;
      }
      i {
        color: rgba(255,255,255,0.5);
      }
    }

    &[disabled] {
      cursor: default;
      pointer-events: none;
    }

    &.--spacer {
      flex-grow: 1;
      cursor: default;
    }
  }
  &__item--current {
    a {
      background-color: rgba(0,0,0,0.05);
      color: #fff;
    }
    i {
      color: rgba(255,255,255,0.5);
    }
  }
  &__item:first-of-type {
    a {
      color: #fff;
      padding-top: 0;
      height: 100%;
    }
    &[disabled] {
      a {
        opacity: .3;
        color: rgba(0,0,0,0.5);
      }
    }
  }

  &__item:last-of-type {
    align-self: flex-end;
    position: relative;
    bottom: 0;
  }

  &__newPost {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    width: 80px;
    height: 80px;
    display: block;
    background-repeat: no-repeat;
    background-size: 72px 60px;
    background-position: 4px 20px;
    background-image: url("../img/tori-atama-new-btn-bd5f1b7dc4c4a80f4ad8baaa1ce60e95.svg");
    &:hover {
      background-position: 4px 10px;
    }
  }
}
