.m-postList {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #555555;
  color: #fff;
  font-size: 14px;
  height: 100%;
  min-width: 220px;
  //overflow-y: scroll;
  position: relative;
  &:after {
    right: 100%;
    position: absolute;
    content: "";
    display: block;
    border: 10px solid transparent;
    border-right: 10px solid #555;
    top: 122px;
    z-index: 1;
  }
  &__item {
    cursor: pointer;
    position: relative;
    a {
      padding: 10px;
      display: block;
      height: 100%;
      border-bottom: 1px solid rgba(0,0,0,0.2);
      transition-duration: .3s;
    }
    a:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      text-decoration: none;
    }
  }
  &__item--current {
    a {
      background-color: #333 !important;
      color: #fff !important;
    }
  }

  &__trash {
    display: block;
    opacity: 0.5;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: auto;
    z-index: 1;
    cursor: pointer;
    transition: 300ms ease;
    font-size: 16px;
    &:hover {
      color: tomato;
      opacity: 1;
    }
  }
}
