$root: ".m-postList";
.m-postList {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #555555;
  color: #fff;
  font-size: 14px;
  height: 100%;
  width: 220px;
  overflow-y: scroll;
  position: relative;
  //&:after {
  //  right: 100%;
  //  position: absolute;
  //  content: "";
  //  display: block;
  //  border: 10px solid transparent;
  //  border-right: 10px solid #555;
  //  top: 122px;
  //  z-index: 1;
  //}

  &__item {
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    min-height: 38px;
    min-height: 54px;
    a {
      height: 100%;
      transition-duration: .3s;
      //white-space: nowrap;
      //overflow: hidden;
      //text-overflow: ellipsis;
      line-height: 1.25;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      a {
        text-decoration: none;
      }
      #{$root}__trash {
        display: block;
        &:hover {
          color: tomato;
          opacity: 1;
        }
      }
    }
  }
  &__item--current {
    background-color: #333 !important;
    color: #fff !important;
  }

  &__trash {
    display: none;
    opacity: 0.5;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: auto;
    z-index: 1;
    cursor: pointer;
    transition: 300ms ease;
    font-size: 16px;
  }

  transition: all 200ms ease;
  &-transition {

  }

  &-enter {
    width: 0;
  }

  &-leave {
    width: 0;
  }
}
