$root: ".m-postList";
.m-postList__filter {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  background-color: #555555;
  color: rgba(255, 255, 255, .5);
  padding: 5px 0 0 7px;
  box-sizing: border-box;
  height: 40px;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  input {
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    width: 180px;
    margin-left: 5px;
    padding: 3px;
    padding-right: 0;
  }
  i {
    line-height: 20px;
    vertical-align: middle;
  }
  .fa-times-circle {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 8px;
    right: 15px;
    z-index: 1;
    color: rgba(0,0,0, .5);
  }
  &:hover .fa-times-circle {
    display: block;
  }
}
.m-postList {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #555555;
  color: #fff;
  font-size: 14px;
  height: 100%;
  width: 220px;
  position: relative;

  display: flex;
  flex-direction: column;

  &__list {
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: calc(100% - 40px);
    overflow-y: scroll;
  }

  &__empty {
    min-height: 54px;
    line-height: 54px;
    padding-left: 10px;
    box-sizing: border-box;
  }
  &__item {
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    min-height: 54px;
    a {
      height: 100%;
      transition-duration: .3s;
      line-height: 1.25;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      a {
        text-decoration: none;
      }
      #{$root}__trash {
        display: block;
        &:hover {
          color: tomato;
          opacity: 1;
        }
      }
    }
  }
  &__item--current {
    background-color: #333 !important;
    color: #fff !important;
  }

  &__trash {
    display: none;
    opacity: 0.5;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: auto;
    z-index: 1;
    cursor: pointer;
    transition: 300ms ease;
    font-size: 16px;
  }

  &-transition {
    transition: all 200ms ease;
  }

  &-enter {
    width: 0;
  }

  &-leave {
    width: 0;
  }
}
