.l-main {
  display: flex;
  height: 100%;

  .l-menu {
    height: 100%;
  }

  .l-posts {
    height: 100%;
    flex-grow: 0;
  }

  .l-md {
    flex-grow: 1;
    display: flex;
    height: 100%;
    position: relative;
    overflow: auto;
    //padding-bottom: 40px;
    padding-top: 50px;
    box-sizing: border-box;

    .l-input {
      flex-basis: 50%;
      flex-grow: 1;
      height: 100%;
      overflow: scroll;
      padding: 1em;
      box-sizing: border-box;

      .l-input__opt {
        background: rgba(0,0,0,0.1);
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 8px 20px;
        color: rgba(60,74,96,0.5);
        border-top: 1px dotted rgba(0,0,0,0.1);
        background-color: #f0f4f8;
      }
    }

    .l-preview {
      flex-basis: 50%;
      box-sizing: border-box;
      flex-grow: 1;
      padding: 1em;
      //padding-bottom: 40px;
      overflow: scroll;
      max-width: 800px;
    }

    &__toolbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: $color-toolbar;
      color: $color-toolbar-fore;
      padding: 10px;
    }
  }
}



